@font-face {
    font-family: 'fff_tusjbold';
    src: url('fonts/FFF_Tusj-webfont.eot');
    src: url('fonts/FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FFF_Tusj-webfont.woff') format('woff'),
         url('fonts/FFF_Tusj-webfont.ttf') format('truetype'),
         url('fonts/FFF_Tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sansregular';
    src: url('fonts/DroidSans-webfont.eot');
    src: url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playtimewithhottoddies3dRg';
    src: url('fonts/PlaytimeWithHotToddies3D-webfont.eot');
    src: url('fonts/PlaytimeWithHotToddies3D-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PlaytimeWithHotToddies3D-webfont.woff') format('woff'),
         url('fonts/PlaytimeWithHotToddies3D-webfont.ttf') format('truetype'),
         url('fonts/PlaytimeWithHotToddies3D-webfont.svg#playtimewithhottoddies3dRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-size: 2.9em;
	color: #006400;
	text-shadow: 1px 1px 3px #CACACA;
	padding-bottom: 20px;
	margin-bottom: -10px;
	font-family: 'fff_tusjbold';
	font-style: normal;
	font-weight: 700;
}
a {
	color: #006400;
	font-family: 'droid_sansregular';
}
a:hover, a:focus {
	color: #258FAF;
}
small {
	visibility: hidden;
}
body {
	background:url("../img/skulls.png");
}
label {
	font-family: 'droid_sansregular';
	font-size: 1.75em;
}

.weatherForecast {
	padding: 5px;
}
.weatherReport {
	padding: 5px;
}
.weatherList {
	padding: 5px;
}
.weatherItem {
	height: 300px;
	width: 300px;
	background-position: 0 3em;
	padding: 3px;
}
.weatherCity {
	font-size: 2.5em;
	font-family: 'playtimewithhottoddies3dRg';
	color: darkgreen;
	text-shadow: 1px 1px 2px #008000;
}
.weatherTemp {
	margin-top: 3em;
	margin-bottom: 10px;
	font-size: 3em;
	font-family: 'playtimewithhottoddies3dRg';
	color: darkgreen;
	text-shadow: 1px 1px 2px #008000;
}
.weatherDesc {
	float: left;
	margin-right: 20px;
	font-family: 'droid_sansregular';
}
.weatherRange {
	margin-bottom: 10px;
	font-family: 'droid_sansregular';	
}
.weatherWind {
	float: left;
	margin-right: 20px;
	font-family: 'droid_sansregular';
}
.weatherHumidity {
	margin-bottom: 10px;
	font-family: 'droid_sansregular';
}
.weatherSunrise {
	float: left;
	margin-right: 20px;
	font-family: 'droid_sansregular';
}
.weatherSunset {
	padding-bottom: 10px;
	font-family: 'droid_sansregular';
}
.weatherForecastItem {
	height: 100px;
	width: 300px;
	background-position: top left;
	margin-top: 20px;
	border-top: 2px dotted grey;	
}
.weatherForecastDay {
	font-size: 2em;
	text-align: center;
	font-family: 'playtimewithhottoddies3dRg';
	color: darkgreen;
	text-shadow: 1px 1px 2px #008000;
}
.weatherForecastDate {
	visibility: hidden;
	font-family: 'droid_sansregular';
	padding: 5px;
}
.weatherForecastText {
	text-align: center;
	padding: 5px;
	font-family: 'droid_sansregular';
}
.weatherForecastRange {
	text-align: center;
	padding: 5px;
	font-family: 'droid_sansregular';
}